<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <center>
    <table border="3" cellpadding="5" cellspacing="0" >

    <script src="index.js"></script>
        <legend><b>AUTHORS</b></legend><br>
    <thead>
        <th>Author_Name</th>
        <th>Action</th>
    </thead>
        {% for i in au %}

            <tr>

                <td>{{i.auth_name}}</td>
                <td>
                  <a href="{% url 'edit_data' i.id %}" >Edit</a> |
                  <a href="{% url 'delete_data' i.id %}" >Delete</a>
                </td>
            </tr>
        {% endfor %}
  </table>


      <br>
      <table border="3" cellpadding="10" cellspacing="0" >

    <tr>
        <legend><b>BOOKS</b></legend><br>
    <thead>


        <th>Book_Name</th>
        <th>Author</th>
        <th>Book_price</th>
        <th>Action</th>
    </thead>
    </tr>
        {% for i in bk %}

            <tr>

                <td>{{i.book_name}}</td>
                <td>{{i.author.auth_name}}</td>
                <td>{{i.book_price}}</td>
                <td>
                  <a href="{% url 'edit' i.id %}" >Edit</a> |
                  <a href="{% url 'delete' i.id %}" >Delete</a>
                </td>
            </tr>
        {% endfor %}
  </table>

  </center>

  </body>
</html>